@use 'base/variables' as v;
@use 'base/mixins' as m;

.alerta {
    padding: calc(v.$separacion / 4);
    color: v.$blanco;
    display: block;
    margin-bottom: 2rem;
    text-align: center;
    font-weight: v.$bold;
    text-transform: uppercase;

    &.error{
        background-color: v.$rojo;
    }
}