// importamos cvariables
@use 'base/variables' as v;
@use 'base/mixins' as m;

.contenedor-app {
    @include m.tablet {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        min-height: 100vh;
    }

    .imagen {
        height: 20rem;
        background-image: url(../img/900.jpg);
        background-size: cover;
        background-position: center center;
        opacity: 0;  // Comienza con la opacidad en 0
    
        transition: opacity 0.5s ease-in-out; // Añade una transición suave
    
        @include m.tablet {
            height: auto;
        }
    
        @media screen and (max-width: 767px) {
            display: none;
        }
    
        @media screen and (min-width: 768px) {
            display: block;
            opacity: 1;  // Cambia la opacidad a 1 cuando la imagen está visible
        }
    }
    

    .app {
        width: 95%;
        margin: 0 auto;
        padding: 2rem 0;
    }
}
